:root {
  --main-bg-color: #faf3dd;
  --nav-bg-color: #c6c1af;
  --text-color: #333333;
  --title-color: #4e342e;
  --in-progress: #a14a4a;
  --done: #6c8462;
}

::selection {
  background-color: var(--title-color);
  color: var(--main-bg-color);
}

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

p {
  color: var(--text-color);
}

a {
  color: var(--title-color);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

a, .btn:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 1.375rem;
}

ul li ul {
  padding-top: 0;
}

.navbar {
  background-color: var(--nav-bg-color);
  border-bottom: 2px solid var(--title-color);
}

.navbar .nav-link {
  color: var(--title-color);
  font-weight: 500;
  transition: color 0.1s ease-in-out;
}

.navbar .nav-link:hover {
  color: black;
  text-decoration: none;
}

.navbar .nav-link.active {
  color: #262626;
  font-weight: 600;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(78, 52, 46, 0.5);
}

.container {
  margin-top: 1.25rem;
}

.lead {
  color: var(--title-color);
}

.in_progress,
.done {
  color: var(--in-progress);
  border: 1px solid;
  border-radius: 3px;
  padding: .1em 0.4em;
  font-weight: normal;
  margin-left: .2em;
  vertical-align: middle;
  font-size: 0.9em;
}
.done { color: var(--done); }

.table_of_contents {
  margin-left: 0;
  padding: 0;
  line-height: 1.7;
}

.btn-primary {
  background-color: var(--title-color);
  border: none;
}

.btn-primary:hover {
  background-color: var(--title-color);
}

.btn-primary:active {
  background-color: var(--text-color) !important;
}

.btn-collapse {
  padding: 4px 10px 1px;
  margin-right: 0.625rem;
  vertical-align: top;
}

.btn:focus, .btn.active:focus {
  outline: none;
  outline: 0;
}

.btn-collapse:after {
  font-family: "bootstrap-icons";
  content: "\f63b";
  color: var(--main-bg-color);
}

.btn-collapse.collapsed:after {
  content: "\f64d";
}

.checkbox label,
.radio label {
  padding-left: 1.5rem;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  margin-left: -1.5rem;
}

input[type="checkbox"]:checked + .item_content {
  text-decoration: line-through;
}

input[type="checkbox"] ~ .glyphicon-eye-close,
input[type="checkbox"] ~ * > .glyphicon-eye-close,
input[type="checkbox"]:checked ~ .glyphicon-eye-open,
input[type="checkbox"]:checked ~ * > .glyphicon-eye-open {
  display: none;
}
input[type="checkbox"] ~ .glyphicon-eye-open,
input[type="checkbox"] ~ * > .glyphicon-eye-open,
input[type="checkbox"]:checked ~ .glyphicon-eye-close,
input[type="checkbox"]:checked ~ * > .glyphicon-eye-close {
  display: inline-block;
}

input[type="checkbox"] ~ .glyphicon-chevron-down,
input[type="checkbox"] ~ * > .glyphicon-chevron-down,
input[type="checkbox"]:checked ~ .glyphicon-chevron-up,
input[type="checkbox"]:checked ~ * > .glyphicon-chevron-up {
  display: none;
}
input[type="checkbox"] ~ .glyphicon-chevron-up,
input[type="checkbox"] ~ * > .glyphicon-chevron-up,
input[type="checkbox"]:checked ~ .glyphicon-chevron-down,
input[type="checkbox"]:checked ~ * > .glyphicon-chevron-down {
  display: inline-block;
}