/* VARIABLES 
------------ */
:root {
  /* COLORS 
  --------- */
  --b: #fff5e1;
  --t: #2c1810;
  --h: #4a3728;
  --1: #9a8765;
  --2: #4a3728;
  --3: #e0d3bd;
  --r: #d32727;
  --g: #008048;
  --p: #7a00cc;
  --o: #d66800;
  --a: #1d5bcd;
  --x: #ca3f3f;
  --c: #379a80;
  --k: #efefef;
  --kt: #2c1810;
  --kh: #d2d2d2;

  /* FONT 
  ------- */
  --f1: 2.5rem;
  --f2: 1.75rem;
  --f3: 1.5rem;
  --f4: 1.125rem;
  --f5: 0.9rem;

  /* WEIGHTS 
  ---------- */
  --w3: 300;
  --w4: 400;
  --w6: 600;
  --w7: 700;

  /* SPACING 
  ---------- */
  --r1: .25rem;
  --r2: .5rem;
  --r3: .75rem;
  --r4: 1rem;
  --r5: 1.25rem;
  --r6: 1.75rem;
  --r7: 2.5rem;
  --e1: .125em;
  --e2: .25em;
  --e3: .5em;
  --e4: .75em;
  --e5: 1em;
  --e6: 1.5em;

  /* BORDER 
  --------- */
  --b1: 1px;
  --b2: 2px;
  --b3: 3px;
  --b4: 4px;
}

/* DARK MODE
------------  */
.dark {
  color-scheme: dark;
  --b: #222426;
  --t: #e0e0e0;
  --h: #f8f7f7;
  --1: #303030;
  --2: #808080;
  --3: #404040;
  --r: #e9586b;
  --g: #29a36a;
  --p: #b970d2;
  --o: #dc8247;
  --a: #65a0d7;
  --x: #e9586b;
  --c: #17b598;
  --k: #404040;
  --kt: #f8f7f7;
  --kh: #222426;
}

/* COLOR BLINDNESS
------------------ */
.pro {
  --r: #90855b;
  --g: #ab9600;
  --p: #004ab9;
  --o: #7e6f00;
  --a: #5282db;
  --x: #908763;
  --c: #0073e3;
}

.deu {
  --r: #7a6d1a;
  --g: #baa236;
  --p: #0049cf;
  --o: #9e872a;
  --a: #528cff;
  --x: #7d7556;
  --c: #3e84e7;
}

.tri {
  --r: #d7425d;
  --g: #007f72;
  --p: #a600ff;
  --o: #ad7600;
  --a: #0b3fec;
  --x: #ad7600;
  --c: #009977;
  --s: #ff8e8d;
}

.ach {
  --r: #595959;
  --g: #888;
  --p: #4d4d4d;
  --o: #959595;
  --a: #676767;
  --x: #777;
  --c: #808080;
  --s: #777;
  --st: #fff;
}

/* ANIMATIONS 
----------------- */
@media (prefers-reduced-motion: no-preference) {
  .sidebar {
    transition: transform 0.3s ease;
  }
}

/* DEFAULTS 
----------- */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus-visible {
  outline: var(--b2) solid var(--2);
  border-radius: var(--b1);
  outline-offset: var(--r1);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scrollbar-color: var(--1) var(--b);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

body {
  color: var(--t);
  background-color: var(--b);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, .lead, .toc a, nav a {
  line-height: 1.1;
  text-wrap: balance;
  color: var(--h);
}

header {
  margin: var(--r7) 0;

  & h1 {
    font-size: var(--f1);
    font-weight: var(--w7);
    margin-bottom: var(--r4);
  }
  
  .lead {
    font-size: 22px;
    font-weight: var(--w3);
  }
}

h2 {
  font-size: var(--f2);
  font-weight: var(--w7);
  margin: var(--r6) 0 var(--r2);
}

h2 + h3 {
  margin-top: var(--r3);
}

h3 {
  font-size: var(--f3);
  font-weight: var(--w6);
  margin: var(--r6) 0 var(--r2);
}

h4 {
  font-size: var(--f4);
  font-weight: var(--w6);
  margin: var(--r5) 0 var(--r2);
}

p {
  text-wrap: pretty;
  margin-top: var(--r3);
}

a {
  color: var(--a);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a, samp, .h, .r, .g, .p, .o {
  font-weight: var(--w6);
}

strong {
  font-weight: var(--w7) !important;
}

ul {
  list-style-type: none;

  & li ul {
    padding-left: var(--r6);
  }
}

ol {
  font-size: var(--f5);
  margin: var(--r3) 0 var(--r2) var(--r6);

  & ul {
    list-style-type: disc;
    padding-left: var(--r6);
  }
}

input, button, kbd, textarea, samp, select  {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.1;
}

svg {
  display: block;
  max-width: 100%;
}

.btn {
  min-width: fit-content;
  padding: var(--r1) var(--r2);
  color: var(--kt);
  background-color: var(--k);
  border: var(--b1) solid var(--2);
  border-radius: var(--b3);

  &:hover {
    background-color: var(--kh);
  }
}

#up {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  padding: var(--r2);
  border: var(--b2) solid var(--2);
  border-radius: 50%;

  & svg {
    width: 28px;
    height: 28px;
  }
}

select {
  text-align-last: center;
  padding: var(--e1);
}

/* NAVIGATION 
------------- */
nav {
  background-color: var(--1);
  border-bottom: var(--b2) solid var(--2);
  position: relative;
  min-height: 60px;

  & a:hover {
    text-decoration: none;
  }
}

.nav {
  width: 100%;
  margin-inline: var(--r3);
  align-items: center;

  & ul {
    margin-left: auto;
    gap: var(--r3);
  }
}

#menu {
  width: 46px;
  height: 40px;
  background: var(--b);
  padding: var(--e3);
  border: var(--b2) solid var(--2);
  border-radius: var(--b4);

  & svg {
    color: var(--h);
    width: 38px;
    height: 38px;
  }
}

/* SIDEBAR 
---------- */
.sidebar {
  position: fixed;
  top: 8px;
  left: 0;
  width: 280px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--b);
  border-top: 2px solid var(--2);
  border-right: 2px solid var(--2);
  border-bottom: 2px solid var(--2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateX(-103%);
  z-index: 1;

  &[aria-hidden="false"] {
    transform: translateX(0);
  }
}

.sidebar .sh {
  height: 60px;
  align-items: end;
  justify-content: center;
  background-color: var(--1);
  border-top-right-radius: 7px;
  border-bottom: var(--b2) solid var(--2);
}

.close {
  position: absolute;
  top: 44px;
  right: -10px;
  width: 42px;
  height: 38px;
  padding: var(--e3);
  border-width: var(--b2);

  & svg {
    width: 26px;
    height: 26px;
  }
}

.sheets {
  padding: var(--r3);
  overflow-y: auto;

  & li {
    border-bottom: var(--b1) dotted var(--2);
  }
  
  & li:hover {
    background-color: var(--3);
    border-radius: var(--b2);
  }

  & a {
    display: block;
    padding: var(--r3);
  }
}

/* CONTAINERS 
------------- */
header, footer {
  text-align: center;
}

main {
  width: min(100% - var(--r5), 82.5rem);
  margin-inline: auto;
}

footer p {
  font-size: var(--f5);
  margin-bottom: var(--r2);
}

/* FAQ 
------ */
.omitted, .included {
  margin: var(--r4) 0 0 var(--r6);

  & li {
    padding-left: var(--r2);
  }
}

.omitted {
  list-style-type: "✕";

  & li::marker {
    color: var(--r);
  }
}

.included {
  list-style-type: "✔";

  & li::marker {
    color: var(--g);
  }
}

/* OPTIONS 
---------- */
.options label {
  margin-top: var(--r4);
}

/* CHECKLISTS
------------- */
li {
  position: relative;
}

label {
  display: inline-block;
  padding-left: 1.75rem;
  padding-top: 0.3rem;
}

button, input[type="checkbox"], label {
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: var(--c);
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  left: 0;
  top: .5rem;
}

input[type="checkbox"]:hover, label:hover ~ input[type="checkbox"] {
  box-shadow: 0 0 0 2px var(--h);
}

input[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
}

/* PRINT
-------- */
/* TODO: PRINT */
@media print {
  body, a{
    color: black;
  }

  input[type="checkbox"], footer {
    display: none;
  }

  label {
    padding: 0;
  }
}

/* UTILITY
---------- */
.flex { display: flex; }
.center { align-items: center; justify-content: center; }
.list { list-style-type: disc; margin: var(--r2) 0 var(--r2) var(--r6); }
/* textarea { display: none; } */
strong, footer a, .h { color: var(--h); }
.r { color: var(--r); }
.g { color: var(--g); }
.p { color: var(--p); }
.o { color: var(--o); }