/* VARIABLES */
:root {
  --bg: #fff5e1;
  --text: #2c1810;
  --title: #4a3728;
  --primary: #9a8765;
  --link: #1d5bcd;
  --progress: #ca3f3f;
  --check: #379a80;

  --spacing1: .25rem;
  --spacing2: .5rem;
  --spacing3: 1rem;
  --spacing4: 1.25rem;
  --spacing5: 2.5rem;
  --spacing6: 5rem;
  --spacing7: 10rem;

  --radius1: 2px;
  --radius2: 4px;
}

.dark {
  --bg: #222426;
  --text: #e0e0e0;
  --title: #f8f7f7;
  --primary: #303030;
  --link: #65a0d7;
  --progress: #e9586b;
  --check: #17b598;
}

/* DEFAULTS */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--text);
  background-color: var(--bg);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  color: var(--link);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}

input, button, kbd, textarea, samp, select  {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.1;
}

svg {
  display: block;
  max-width: 100%;
}

.btn {
  min-width: fit-content;
}

/* NAVIGATION */
nav {
  height: 3.75rem;
  background-color: var(--primary);
  text-align: center;
}

/* TOGGLE THEME */
#toggle-theme {
  width: 45px;
  height: 45px;
  background: none;
  border: none;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;

  &:hover {
    background-color: var(--bg);
  }
}

#toggle-theme svg {
  fill: currentColor;
}

.sun, .dark .moon {
  display: none;
}

.dark .sun {
  display: block;
}

/* CONTAINERS */
header, footer {
  text-align: center;
}

main {
  width: min(100% - var(--spacing4), 1200px);
  margin-inline: auto;
}

footer p {
  font-size: 0.9rem;
}

/* FAQ */
.faq-title {
  margin: var(--spacing4) 0;
}

.omitted li::before {
  content: "✗";
  color: var(--progress);
  margin-left: var(--spacing4);
  padding-right: var(--spacing2);
}

.included li::before {
  content: "✔";
  color: var(--check);
  margin-left: var(--spacing4);
  padding-right: var(--spacing2);
}

ol {
  list-style-position: inside;
  padding-left: var(--spacing5);

  & ul {
    padding-left: var(--spacing5);
  }
}

/* ALL - Checklists */
li {
  position: relative;
}

ul li ul {
  padding-left: 1.75rem;
}

label {
  display: inline-block;
  padding-left: 1.75rem;
  padding-top: 0.3rem;
}

button, input[type="checkbox"], label {
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: var(--check);
  /* transform: scale(1.2); */
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 8px;
}

input[type="checkbox"]:hover, label:hover ~ input[type="checkbox"] {
  box-shadow: 0 0 0 2px currentColor;
}

input[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
}

/* TODO: PRINT */
@media print {
  body, a{
    color: black;
  }

  input[type="checkbox"], footer {
    display: none;
  }

  label {
    padding: 0;
  }
}

/* Force Firefox to include state. Temp workaround for #1 */
textarea {
  display: none;
}