/* Variables */
:root {
  color-scheme: light dark;
  --light-bg: #fff5e1;
  --light-primary: #9a8765;

  --dark-bg: #222426;;
  --dark-primary: #303030;


  --spacing1: .25rem;
  --spacing2: .5rem;
  --spacing3: 1rem;
  --spacing4: 1.25rem;
  --spacing5: 2.5rem;
  --spacing6: 5rem;
  --spacing7: 10rem;
}

/* Defaults */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {}

input, button, textarea, select {
  font: inherit;
}

ul {
  /* padding-left: var(--spacing4); */
}

/* ! ------------ */
svg {
  display: block;
  max-width: 100%;
}
/* ! ------------ */

/* Navbar */
nav {
  min-height: 3.75rem;
  background-color: light-dark(var(--light-primary), var(--dark-primary));
  text-align: center;
}

/* Main container */
main {
  width: min(100% - var(--spacing5), 1200px);
  margin-inline: auto;
}

/* Checklists */
.checklist {
  list-style-type: none;

  & ul {
    list-style-type: none;
  }
}

li {
  position: relative;
  padding-left: 1.75rem;
}

input[type="checkbox"], label {
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: green;
  /* transform: scale(1.2); */
  width: 1.1rem;
  height: 1.1rem;
  position: absolute;
  left: 0;
  top: 3px;
}

input[type="checkbox"]:hover, label:hover ~ input[type="checkbox"] {
  box-shadow: 0 0 0 2px currentColor;
}

input[type="checkbox"]:active, label:active ~ input[type="checkbox"] {
  box-shadow: 0 0 0 10px green;
  transition: 0.2s ease;
}

input[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
}

/* TODO: build as project expands */
@media print {
  body, a{
    color: black;
  }

  input[type="checkbox"], footer {
    display: none;
  }

  label {
    padding: 0;
  }
}

/* Force Firefox to include state. Temp workaround for #1 */
textarea {
  display: none;
}